@namespace SmartUI.Grid
@using Microsoft.AspNetCore.Components.Web

@inherits BaseComponent

<div class="form-group form-inline">
    <label>records per page</label>
    <select class="custom-select form-control" value="@Value" @onchange="OnPageSizeSelected">
        @foreach (int pageSize in PageSizes ?? new List<int>())
        {
            <option value="@pageSize" selected="@(Value == pageSize)">@pageSize</option>
        }
    </select>
</div>